### Git Ignore list

# pre-commit hook config
.pre-commit-config.yaml

# Dir env
.direnv

# Nix results
**/result
**/result-*

# Find common git ignore templates at: https://github.com/github/gitignore
